/*=== NAVIGATION =================================*/

nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;

}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--primary-color);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu, 
nav .close-menu {
  position: fixed;
}

/*=== NAVIGATION ==================*/
/* ===MOBILE======================*/



